.h1-timer {
  font-size: 2.5em;
  margin-top: 10vh;
}

.h1-theme {
  font-size: 3em;
  margin-top: 5vh;
}

.h1-points {
  margin-top: 30vh;
  margin-bottom: 0;
}

.p-question {
  font-size: 1.5em;
  margin-top: 10vw;
}

.btn-answer {
  width: 40vw;
  height: 20vw;
  padding: 10px 20px;
  margin: auto;
  cursor: pointer;
}

button:disabled {
  color: white;
}

.div-btn-answer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: fit-content;

  margin: auto;
  margin-top: 20vw;
}

.wrong {
  background-color: red;
}

.correct {
  background-color: green;
}

@media screen and (orientation: landscape) {
  .h1-theme {
    margin-top: 7vh;
  }

  .p-question {
    margin: 10vh auto;
  }

  .btn-answer {
    width: 20vw;
    height: 10vw;
    font-size: 2em;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
  }

  .div-btn-answer {
    margin: 0 auto;
  }

  .h1-points {
    font-size: 4.5em;
    margin-top: 30vh;
  }

  .h1-timer {
    font-size: 4em;
  }



}